/* Task1 */
*{ 
    box-sizing: border-box;
} 
body{
     margin: 0;
} 
.contaier{ 
    height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.box{ 
    width: 200px; 
    height: 100px; 
    background-color: blue; 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 
/* Task2 */ 
.navbar{ 
    display: flex; 
    justify-content: space-evenly; 
    padding: 20px;
    background-color: red;
} 
.navbar a { 
    text-decoration: none; 
    color: black; 
    font-size: 18px;
} 
/* Task3 */ 
.vertical-nav{ 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    width: 200px; 
    padding: 20px; 
    background-color: lightgray;
} 
.vertical-nav a { 
    text-decoration: none; 
    color: black; 
    padding: 10px;
} 
/* Task4 */ 
.card-ccontainer{ 
    display: flex; 
    justify-content: space-between;  
    gap: 20px; 
    padding: 20px;
} 
.card{ 
    width: 180px; 
    padding: 20px;  
    border: 1px solid#ccc;
    background-color: #f5f5f5; 
    text-align: center;
}